.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 3rem;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  font-weight: bold;
}

.heading h1 {
  color: #2e9036;
  margin-bottom: 0.5rem;
}

.summary {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-color: #2e9036;
  color: #f2f2f2;
  gap: 1.5rem;
  min-width: 2rem;
  max-width: 25rem;
  min-height: 9rem;
  border-radius: 1rem;
}

.summary-raised {
  display: flex;
  flex-direction: column;
}

.summary-raised > p:last-child {
  font-size: large;
  font-weight: 900;
  color: #ffd700;
}
.summary-percentage {
  font-size: 2rem;
  font-weight: 900;
  color: #ffd700;
}

.pagination-container {
  padding: 5px;
  border-radius: 1rem;
}

.pagination {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  background-color: #2e9036;
  color: white;
  padding: 5px 10px;
  border-radius: 1rem;
}

.pagination button:disabled {
  background-color: #ccc; /* Light gray for disabled state */
  color: #666; /* Dimmed text color for disabled state */
  cursor: not-allowed; /* Indicate non-interactiveness */
}
